.services__container {
  grid-template-columns: repeat(2, 350px);
  justify-content: center;
  column-gap: 1.8rem;
}

.services__content {
  position: relative;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 1.25rem;
  background-color: var(--container-color);
  padding: 6rem 0 2rem 2.5rem;
}

.services__modal {
  display: none;
}

/* For large devices */
@media screen and (max-width: 992px) {

  }

/* For medium devices */
@media screen and (max-width: 576px) {
  }
  /* For small devices */
@media screen and (max-width: 350px) { 
  }