.skills__icons-home {
    display: flex;
    gap: 3rem;
}

.skills__component-home {
    width: 100px;
    height: 100px;
    cursor: pointer;
    filter: grayscale(100%);
    transition: filter 0.3s ease;
}

.skills__component-home:hover {
    filter: none;
}

.skills__marquee-wrapper-home {
    overflow: hidden;
    position: relative;
}

.skills__marquee-home {
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 6rem;
    padding: 2rem 0;

    mask-image: linear-gradient(to right, transparent 0%, black 10%, black 90%, transparent 100%);
    -webkit-mask-image: linear-gradient(to right, transparent 0%, black 10%, black 90%, transparent 100%);
}

.marquee-row {
    display: flex;
    white-space: nowrap;
    will-change: transform;
    animation-fill-mode: both;
}


.row-3 {
    animation: marqueeRTL 40s linear infinite;
    animation-delay: -3s;
}

@keyframes marqueeRTL {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes marqueeLTR {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}