.about__container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 0.4rem;
    align-items: center;
}

.about__img {
    width: 250px;
    border-radius: 1.5rem;
    justify-self: center;
}

.about__info {
    grid-template-columns: repeat(3, 140px);
    gap: 1.8rem;
    margin-bottom: var(--mb-2);
}

.about__box {
    background-color: var(--title-color);
    border: 2px solid var(--text-color);
    border-radius: 0.75rem;
    text-align: center;
    padding: 1rem 1.25rem;
}

.about__icon {
    font-size: 1.5rem;
    color: var(--body-color);
    margin-bottom: var(--mb-0-5);
}

.about__title {
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
    color: var(--body-color);
}

.about__subtitle {
    font-size: var(--tiny-font-size);
}


.about__description {
    margin-bottom: var(--mb-2-5);
    text-align: justify;  
}

/* dark-mode */
:is(.dark-mode) .section__title {
    color: var(--body-color);
}

:is(.dark-mode) .about__box {
    background-color: var(--title-color);
    border: 1px solid var(--text-color);
}

:is(.dark-mode) .about__icon,:is(.dark-mode) .about__title {
    color: var(--container-color);
}

/* For large devices */
@media screen and (max-width: 992px) {
    .about__container {
        grid-template-columns: 1fr;
        row-gap: 2.5rem;     
    }

    .about__img {
        width: 220px;
    }

    .about__box {
        padding: 0.75rem 0.5rem;
    }

    .about__data {
        text-align: center;
    }

    .about__info {
        justify-content: center;        
    }

    .about__description {
        padding: 0 5rem;
        margin-bottom: 2rem;
    }
  }

/* For medium devices */
@media screen and (max-width: 576px) {
    .about__info {
        grid-template-columns: repeat(3, 1fr);     
    }

    .about__description {
        padding: 0;
    }
  }
  /* For small devices */
@media screen and (max-width: 350px) { 
     .about__info {
        grid-template-columns: repeat(2, 1fr);
     }
  }